# Introduction
Group members(& emails?):

# Table of contents
TODO: titles with internal links to move there

# Decomposition and breakdown

blah blah

# Analysis of data given (records.csv)

# Planning and design of algorithm
insert diagram drawn by Cherry here

## Flowchart and pseudocode

lorem ipsum

# Excel things

In [25]:
'''
file = original excel file
rawFileData = giant list where each item is a row converted into a single string
fileHeader = first row "Tutorial Group,Student ID,School,Name,Gender,CGPA"
fileData = each row in the file turned into a list of cells as strings
studentData = list of dictionaries, each representing a student's data ('student ID', 'TG', 'School', 'Name', 'Gender', 'CGPA')

In [3]:
file = open("records.csv", "r")
rawFileData = file.readlines()
fileData = []
for i in rawFileData:
    i = i.split(",")
    i[5] = i[5].replace('\n', '')
    fileData.append(i)
fileHeader = fileData.pop(0) #list of cells from first line

print(fileData[0])

['G-1', '5002', 'CCDS', 'Aarav Singh', 'Male', '4.02']

In [27]:
#global variables

In [4]:
def initStudents():      #creates studentData, a list of dictionaries, each representing a student
    studentData = []
    studentCount = 0
    for row in fileData:
        studentCount += 1
        if row[4] == 'Male':
            gender = True
        elif row[4] == 'Female':
            gender = False
        studentData.append({'Student ID': int(row[1]),'TG': row[0], 'School': row[2], 'Name': row[3], 'Gender': gender, 'CGPA': float(row[5])})
    return studentData

In [5]:
studentData = initStudents()
print(studentData[0])

{'Student ID': 5002, 'TG': 'G-1', 'School': 'CCDS', 'Name': 'Aarav Singh', 'Gender': True, 'CGPA': 4.02}

# Algo for sorting

# Getting it back into an excel file and things

In [97]:
testfile = open("testrecords.csv", "w")
fileHeader = fileHeader
fileData.insert(0, fileHeader) #puts back header line
fileData[1].append('')
fileData[1].append('AAAAAAAH')
print(fileData[0])
print(fileData[1])
for i in range(len(fileData)):  #for each list, join items by ','. Then prints each line into new excel sheet
    fileData[i] = ','.join(fileData[i])
    print(fileData[i], file = testfile, end = '\n')

['Tutorial Group', 'Student ID', 'School', 'Name', 'Gender', 'CGPA', '', 'AAAAAAAH', '', 'AAAAAAAH']
['Tutorial Group', 'Student ID', 'School', 'Name', 'Gender', 'CGPA', '', 'AAAAAAAH', '', 'AAAAAAAH']

# Algorithm Evaluation

## Basic Factors
No majority of students of the same following factors:
1. School
2. Gender
3. Current CGPA

General flow:
TODO: insert flowchart
- For each tutorial group, check for a single factor first, to find the group with the least diversity
- Then rank them to see with tutorial group has a group with the least diversity

### Finding the diversity of a single factor of a single group
Required data: list of students in the group, required factor of the student
<br>
Output: The number for diversity
<br>
Start with finding the number of occurences of each factor

In [ ]:
# Parameters:
#  factor: string of factor to check, same as the key in the dictionary
#  groupData: data needed as a list of dictionaries
# Return:
#  occurences: dictionary of {factor1: numOccurences, factor2: numOccurences ... } as string:int
def FindOccurencesInGroup(factor, groupData : list) -> dict:
    size = len(groupData)
    occurences = {} # Dictionary to keep track of occurences of each factor
    for i in groupData:
        factorOfStudent = i[factor]
        # If factor already exists in occurences, add 1 to it, otherwise create it and set to 1
        if factorOfStudent in occurences.keys():
            occurences[factorOfStudent] += 1
        else:
            occurences[factorOfStudent] = 1
    return occurences

In [ ]:
testGroupData = [
    {"Student ID": 71, "TG" : "G-1", "School" : "SoH", "Name" : "Savannah Taylor", "Gender" : False, "CGPA" : 4.19},
    {"Student ID": 75, "TG" : "G-1", "School" : "CCDS", "Name" : "Sakina Ahmed", "Gender" : False, "CGPA" : 4.03},
    {"Student ID": 162, "TG" : "G-1", "School" : "SSS", "Name" : "Lila Patel", "Gender" : False, "CGPA" : 4.07},
    {"Student ID": 235, "TG" : "G-1", "School" : "CCDS", "Name" : "Ming Zhang", "Gender" : True, "CGPA" : 4.06},
    {"Student ID": 288, "TG" : "G-1", "School" : "CoB (NBS)", "Name" : "Ajay Verma", "Gender" : True, "CGPA" : 4.01}
]
print(FindOccurencesInGroup("School", testGroupData))
print(FindOccurencesInGroup("Gender", testGroupData))
print(FindOccurencesInGroup("CGPA", testGroupData))

{'SoH': 1, 'CCDS': 2, 'SSS': 1, 'CoB (NBS)': 1}
{False: 3, True: 2}
{4.19: 1, 4.03: 1, 4.07: 1, 4.06: 1, 4.01: 1}

#### Then find the most number of occurences out of the total students

In [ ]:
# Summary: returns the key and value of the key with the largest value
# Parameters:
#  dictionary: the dict to find the max of
# Return:
#  key : list, values : int, where key is the key with highest value
def FindMaxInDict(dictionary: dict) -> (list, int):
    maxKeys = []
    maxVal = 0
    for key, value in dictionary.items():
        # update maxKeys and maxVal whenever a new value >= current maxVal
        if value > maxVal:
            maxKeys = [key]
            maxVal = value
        elif value == maxVal:
            maxKeys.append(key)
    return maxKeys, maxVal

In [ ]:
print(FindMaxInDict(FindOccurencesInGroup("School", testGroupData)))
print(FindMaxInDict(FindOccurencesInGroup("Gender", testGroupData)))
print(FindMaxInDict(FindOccurencesInGroup("CGPA", testGroupData)))

(['CCDS'], 2)
([False], 3)
([4.19, 4.03, 4.07, 4.06, 4.01], 1)

## CGPA case
But this does not work for CGPA, for that we want to find the mean, range, and midrange instead
If we use only mean, a majority of high CGPA with a very low CGPA will result in a medium CGPA, this can be solved by looking at midrange, where a high difference between midrange and mean will show that this is happening
However, even with these two, a group will all medium CGPAs will also result in medium mean, and low midrange difference, therefore we add range to determine that this is happening if the range is small.
In conclusion, the result we are looking for is one with an medium mean, high range, and low difference between midrange and mean.
### Finding mean, midrange, and range

In [ ]:
def Mean(*nums) -> float:
    if len(nums) == 1 and type(nums[0]) is list:
        nums = nums[0]
    return sum(nums) / len(nums)

def Range(*nums) -> float:
    if len(nums) == 1 and type(nums[0]) is list:
        nums = nums[0]
    return max(nums) - min(nums)

def Midrange(*nums) -> float:
    if len(nums) == 1 and type(nums[0]) is list:
        nums = nums[0]
    return (max(nums) + min(nums)) / 2

In [ ]:
testList = [4.19, 4.03, 4.07, 4.06, 4.01]
print(Mean(testList))
print(Range(testList))
print(Midrange(testList))

4.072
0.1800000000000006
4.1

## Calculating the factors for each group

In [76]:
# Parameters:
#  factors: list of strings of factor to check, same as the key in the dictionary
#  groupsDatas: List of datas needed as a list of dictionaries
# Return:
#  leastDiverse: dictionary of {factor1: occurencesPercent, factor2: occurencesPercent ... } as string:int
def FindLeastDiverseInTutorialGroup(factors, *groupsDatas) -> dict:
    if len(groupsDatas) == 1 and type(groupsDatas[0]) is list:
        groupsDatas = groupsDatas[0]

    leastDiverse = {}
    for factor in factors:
        leastDiverseOccurence : float = ("factorResult", 0) # % of highest occurence, i.e. 90% of students are from ccds
        for i in groupsDatas:
            occurence = FindMaxInDict(FindOccurencesInGroup(factor, i))
            currentPercent = occurence[1] / len(i)
            if currentPercent > leastDiverseOccurence[1]:
                leastDiverseOccurence = (occurence[0], currentPercent)
            elif currentPercent == leastDiverseOccurence[1]:
                leastDiverseOccurence = (list(leastDiverseOccurence[0] + occurence[0]), currentPercent)
        leastDiverse[factor] = leastDiverseOccurence
    return leastDiverse

In [96]:
testGroupData = [studentData[0:10], studentData[10:20], studentData[20:30], studentData[30:40], studentData[40:50]]
for i in range(5):
    print(f"test group: {i}")
    PrintDictListNice(testGroupData[i])
    print()
# print(testGroupData)
print(FindLeastDiverseInTutorialGroup(["School", "Gender", "CGPA"], testGroupData))

test group: 0
Student ID: 5002              TG: G-1               School: CCDS              Name: Aarav Singh       Gender: True              CGPA: 4.02
Student ID: 3838              TG: G-1               School: EEE               Name: Aarti Nair        Gender: False             CGPA: 4.05
Student ID: 2091              TG: G-1               School: EEE               Name: Adlan Bin Rahman  Gender: True              CGPA: 4.2
Student ID: 288               TG: G-1               School: CoB (NBS)         Name: Ajay Verma        Gender: True              CGPA: 4.01
Student ID: 4479              TG: G-1               School: CCDS              Name: Amelia Kim        Gender: False             CGPA: 4.11
Student ID: 5708              TG: G-1               School: SoH               Name: Ananya Ramesh     Gender: True              CGPA: 4.2
Student ID: 4563              TG: G-1               School: WKW SCI           Name: Anjali Patel      Gender: False             CGPA: 4.01
Student ID: 3989              TG: G-1               School: WKW SCI           Name: Anthony Liu       Gender: True              CGPA: 4.15
Student ID: 2115              TG: G-1               School: EEE               Name: Anya Kumar        Gender: False             CGPA: 4.03
Student ID: 1383              TG: G-1               School: CoB (NBS)         Name: Areeba Khan       Gender: False             CGPA: 4.19

test group: 1
Student ID: 1417              TG: G-1               School: CoE               Name: Darren Lee        Gender: True              CGPA: 4.12
Student ID: 1075              TG: G-1               School: CoB (NBS)         Name: Felix Yip         Gender: True              CGPA: 4.08
Student ID: 3148              TG: G-1               School: EEE               Name: Gabriel Young     Gender: True              CGPA: 3.88
Student ID: 4402              TG: G-1               School: CCDS              Name: Grace Turner      Gender: False             CGPA: 4.08
Student ID: 945               TG: G-1               School: MAE               Name: Han Li            Gender: False             CGPA: 4.1
Student ID: 2230              TG: G-1               School: CoB (NBS)         Name: Harlow Wang       Gender: False             CGPA: 4.18
Student ID: 4520              TG: G-1               School: EEE               Name: Henry Foster      Gender: True              CGPA: 4.11
Student ID: 567               TG: G-1               School: CoB (NBS)         Name: Isabella Thompson Gender: False             CGPA: 4.03
Student ID: 1841              TG: G-1               School: MAE               Name: Jett Morales      Gender: True              CGPA: 4.12
Student ID: 4576              TG: G-1               School: EEE               Name: Jie Zhang         Gender: True              CGPA: 4.03

test group: 2
Student ID: 5703              TG: G-1               School: SPMS              Name: Karen Lee         Gender: False             CGPA: 4.12
Student ID: 2353              TG: G-1               School: SBS               Name: Karen Wong        Gender: False             CGPA: 3.95
Student ID: 2069              TG: G-1               School: SSS               Name: Kathy Lau         Gender: False             CGPA: 4.48
Student ID: 3861              TG: G-1               School: ASE               Name: Layla Torres      Gender: False             CGPA: 4.52
Student ID: 162               TG: G-1               School: SSS               Name: Lila Patel        Gender: False             CGPA: 4.07
Student ID: 588               TG: G-1               School: MAE               Name: Lucas Walker      Gender: True              CGPA: 4.06
Student ID: 659               TG: G-1               School: SSS               Name: Maria Ivanovna    Gender: False             CGPA: 4.2
Student ID: 4820              TG: G-1               School: CoE               Name: Meera Singh       Gender: False             CGPA: 4.22
Student ID: 2151              TG: G-1               School: EEE               Name: Mei Hong          Gender: False             CGPA: 4.02
Student ID: 235               TG: G-1               School: CCDS              Name: Ming Zhang        Gender: True              CGPA: 4.06

test group: 3
Student ID: 527               TG: G-1               School: EEE               Name: Mohit Desai       Gender: True              CGPA: 4.06
Student ID: 1329              TG: G-1               School: NIE               Name: Nguyen Van Sam    Gender: True              CGPA: 3.85
Student ID: 5119              TG: G-1               School: ADM               Name: Nhung Vu          Gender: False             CGPA: 4.04
Student ID: 809               TG: G-1               School: CoB (NBS)         Name: Nisha Das         Gender: False             CGPA: 4.26
Student ID: 2650              TG: G-1               School: SoH               Name: Nurul Shafika     Gender: False             CGPA: 4.09
Student ID: 4657              TG: G-1               School: SoH               Name: Oleg Petrovich    Gender: True              CGPA: 4.0
Student ID: 2818              TG: G-1               School: CoB (NBS)         Name: Oliver Tan        Gender: True              CGPA: 4.09
Student ID: 3628              TG: G-1               School: EEE               Name: Omer Ahmed        Gender: True              CGPA: 4.06
Student ID: 1555              TG: G-1               School: MAE               Name: Prerna Gupta      Gender: False             CGPA: 4.04
Student ID: 1271              TG: G-1               School: SSS               Name: Priya Singh       Gender: False             CGPA: 4.17

test group: 4
Student ID: 75                TG: G-1               School: CCDS              Name: Sakina Ahmed      Gender: False             CGPA: 4.03
Student ID: 4338              TG: G-1               School: SPMS              Name: Sana Jain         Gender: False             CGPA: 4.22
Student ID: 71                TG: G-1               School: SoH               Name: Savannah Taylor   Gender: False             CGPA: 4.19
Student ID: 2776              TG: G-1               School: CCEB              Name: Siddharth Nair    Gender: True              CGPA: 4.14
Student ID: 2417              TG: G-1               School: SSS               Name: Truong Minh Chau  Gender: False             CGPA: 3.88
Student ID: 5477              TG: G-1               School: SoH               Name: Vikram Desai      Gender: True              CGPA: 4.09
Student ID: 2326              TG: G-1               School: CoB (NBS)         Name: Vivi Dwi          Gender: False             CGPA: 3.95
Student ID: 3930              TG: G-1               School: EEE               Name: Xun Wei           Gender: False             CGPA: 4.18
Student ID: 1645              TG: G-1               School: CoE               Name: Zachary Wu        Gender: True              CGPA: 3.93
Student ID: 592               TG: G-1               School: MSE               Name: Zara Chang        Gender: False             CGPA: 4.11

{'School': (['EEE', 'CoB (NBS)', 'EEE', 'SSS'], 0.3), 'Gender': ([False], 0.8), 'CGPA': ([4.2, 4.01, 4.12, 4.08, 4.03, 4.06, 4.06, 4.04, 4.09], 0.2)}

In [ ]:
# Weights
CRITERA_WEIGHTS = {"CGPA": 100, "SCHOOL": 100, "GENDER": 100}

# Graphical plots and things

# Challenges and Issues

# Conclusion

# Debug test things or test cases?
doubt they will give marks for test cases tho, prob just leave this for our own use and remove before submission
Highlight

In [94]:
def PrintDictListNice(dictionaryList, spacing : int = 18):
    for i in dictionaryList:
        for k,v in i.items():
            contentLength = 10
            if type(v) is int:
                contentLength = log10(v) + 1
            else:
                contentLength = len(str(v))
            # elif type(v) is bool:
            #     contentLength = len(str(v))
            print(f"{k}: {v}{' ' * max(spacing - contentLength, 1)}", end = '')
        print()
def log10(num):
    count = 0
    while num >= 10:
        num /= 10
        count += 1
    return count

In [80]:
print(log10(1))
print(log10(20))
print(log10(34))
print(log10(64280))

0
1
1
4